In [4]:
import numpy as np
import pandas as pd

In [23]:
df_total_population = pd.read_csv('/Users/azs/Documents/Afghanistan/afg_total_population.csv')

In [24]:
df_total_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1359 entries, 0 to 1358
Data columns (total 4 columns):
Country or Area    1359 non-null object
Year(s)            1359 non-null int64
Variant            1359 non-null object
Value              1359 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 42.5+ KB

In [25]:
df_total_population.describe()

           Year(s)          Value
count  1359.000000    1359.000000
mean   2025.000000   49732.591256
std      43.605035   46453.058151
min    1950.000000    7752.118000
25%    1987.000000   13171.673000
50%    2025.000000   42886.323000
75%    2063.000000   63960.395500
max    2100.000000  333229.269000

In [26]:
df_total_population.head()

  Country or Area  Year(s)              Variant       Value
0     Afghanistan     2100               Medium   74937.964
1     Afghanistan     2100                 High  108985.521
2     Afghanistan     2100                  Low   49302.664
3     Afghanistan     2100   Constant fertility  333229.269
4     Afghanistan     2100  Instant replacement   62501.623

In [27]:
df_afg_annual_rate_population_change= pd.read_csv('/Users/azs/Documents/Afghanistan/afg_annual_rate_population_change.csv')

In [28]:
df_afg_annual_rate_population_change.describe()

            Value
count   30.000000
mean   116.323667
std    123.698333
min     12.133000
25%     22.345750
50%     52.637000
75%    183.612000
max    405.090000